<% include ../partials/header %>

<div id="comment-new-section">
  <div id="comment-container" class="container post-container text-center">
    <h1 class="results text-center display-4"><i class="fas fa-portrait"></i> Add New Comment to <%= foundPic.name %></h1>
    <img id="commentPic" class="showImage" src="<%= foundPic.image %>">
    <form id="comment-form" action="/pets/<%= foundPic._id %>/comments" method="POST">
      <div class="form-group">
        <input type="text" name="comment[text]" class="form-control" placeholder="Post Your Comment!">
      </div>
      <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </form>
  </div>
</div>


<% include ../partials/footer %>
