<% include ../partials/header %>

<div id="index">
  <h1 id="post-photos-h1" class="display-3 text-center"><i class="far fa-image"></i> Posted Photos!</h1>
  <div class="container text-center contain-index">
    <div class="row">
      <% findPic.forEach(function(pic){ %>
          <div class="col-6 col-md-4">
            <a href="/pets/<%= pic._id %>"><img src="<%= pic.image %>" alt=""></a>
            <h4><%= pic.name %></h4>
          </div>
      <% }); %>
    </div>
  </div>
</div>





<% include ../partials/footer %>
